{% extends 'base.html' %}

{% block content %}
<h1>Instructions</h1>
<h2>Registering a member</h2>
<p>In order to register a member, you must first create a member record for that
user which will be used for this, and all future conventions. To do so, click on
'Add Person' on the left.</p>

<p>Once a member has a record, you can register them for this event. If they
attend a future event, you will not need to recreate the member record as it
will carry over from year-to-year and event-to-event.</p>

<h2>Checking pre-reg, or adding to an existing member.</h2>
<p>Find the membership from the 'Person List' on the left, and then click on
their name to see a list of all memberships they have purchased. If they would
like to buy another membership, you may do so from that screen.</p>
{% endblock %}
