{% extends 'base.html' %}
{% block title %}Member Report{% endblock %}

{% block content %}
<table id="member-list" class="datatables">
    <thead>
        <tr>
            <th>Legal Name</th>
            <th>Con Name</th>
            <th>Badge number</th>
            <th>City, State</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}
        <tr class={% cycle 'odd' 'even' %}>
            <td>
                <a href="{% url reg.views.member_view id=membership.person.pk %}">
                    {{ membership.person.name }}
                </a>
            </td>
            <td>{{ membership.person.con_name }}</td>
            <td>{{ membership.badge_number|default:'' }}</td>
            <td>
                {% if membership.person.city %}
                    {{ membership.person.city }}, {{ membership.person.state }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
