{# This is used in the self-serve UI as well as the desk UI #}

{% if is_selfserve %}
<form method="post" action="{% url reg.views.selfserve_add_email %}">
{% endif %}
<table style="width: 100%;" id="cart">
    <caption>Cart</caption>
    <thead>
        <tr>
            <th class="subhead">Person</th>
            <th class="subhead">Type</th>
            <th class="subhead">Price</th>
            <th class="subhead">Action</th>
        </tr>
    </thead><tbody>
        {% for item in cart %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="left">
                    {% if is_selfserve %} {{item.person.email}} {% else %} {{item.person.name}} {% endif %}
                </td>
                <td class="center">{{item.type.event.name}}: {{item.type.name}}
                    {% if item.quantity > 1 %} x {{item.quantity}} {% endif %}
                </td>
                <td class="right">${{item.price}}</td>
                <td>
                    <a class="button"
                    {% if is_selfserve %}
                       href="{% url reg.views.selfserve_remove p.email item.type.pk %}"
                    {% else %}
                        href="{% url reg.views.cart_remove item.person.pk item.type.pk %}"
                    {% endif %}
                    >
                        <span class="delete">Remove</span></a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4"><strong>Cart is empty. Buy something!</strong></td></tr>
        {% endfor %}
        {% if is_selfserve %}
            <tr>
                {% csrf_token %}
                <td colspan="3"><input type="text" name="email" id="id_email"/></td>
                <td><a class="button submitlink" href="#"><span class="add">Add</span></a></td>
            </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <td colspan="3" class="right">{{ cart.total|floatformat:2 }}</td>
        </tr>
    </tfoot>
</table>
{% if is_selfserve %}
</form>
{% endif %}
