<table class="member_form">
    <tbody>
        <tr>
            <table class="member_form">
            <tr>
                <th>Name</th>
                <td id="name">{{ form.name }}</td>
                <td class="errors">{{ form.name.errors }}</td>
            </tr>
            </table>
        </tr>
        <tr>
            <table class="member_form">
            <tr>
                <th>Badge Name</th>
                <td>{{ form.con_name }}</td>
                <td class="errors">{{ form.con_name.errors }}</td>
                <th>Affiliation</th>
                <td>{{ form.affiliation }}</td>
                <td class="errors">{{ form.affiliation.errors }}</td>
                <th>Publish?</th>
                <td>{{ form.public }}</td>
                <td class="errors">{{ form.public.errors }}</td>
            </tr>
            </table>
        </tr>

        <tr>
            <table class="member_form">
            <tr>
                <th>Email Address</th>
                <td>{{ form.email}}</td>
                <td class="errors">{{ form.email.errors }}</td>
            </tr>
            </table>
        </tr>

        <tr>
            <table class="member_form">
            <tr>
                <th>Address</th>
                <td>{{ form.address }}</td>
                <td class="errors">{{ form.address.errors }}</td>
            </tr>
            </table>
        </tr>

        <tr>
            <table class="member_form">
            <tr>
                <th>City</th>
                <td>{{ form.city }}</td>
                <td class="errors">{{ form.city.errors }}</td>
                <th>State</th>
                <td>{{ form.state }}</td>
                <td class="errors">{{ form.state.errors }}</td>
                <th>Country</th>
                <td>{{ form.country }}</td>
                <td class="errors">{{ form.country.errors }}</td>
            </tr>
            </table>
        </tr>
        <tr>
            <table class="member_form">
            <tr>
                <th>Zip</th>
                <td>{{ form.zip }}</td>
                <td class="errors">{{ form.zip.errors }}</td>
                <th>Phone</th>
                <td>{{ form.phone }}</td>
                <td class="errors">{{ form.phone.errors }}</td>
                <th>Birth Date</th>
                <td>{{ form.birth_date }} (dd/mm/yy)</td>
                <td class="errors">{{ form.birth_date.errors }}</td>
            <tr>
            </table>
        </tr>
        <tr>
            <td><input type="submit" value="Update Info"></td>
        </tr>
    </tbody>
</table>
