{% extends 'base.html' %}
{% block title %}Detail: {{ person.name }}{% endblock %}

{% block right %}
{% include 'reg_cart.html' %}
<br><br>
{% include "reg_checkout_form.html" %}
<p>Click on the membership type to add to cart. (Center of page.)</p>
{% endblock %}

{% block content %}
<form action="{% url reg.views.member_view person.pk %}" method="post">
{% csrf_token %}
{% include 'reg_member_form.html' %}
</form>

<br><br>

<table id="current_memberships">
    <caption>Paid Memberships</caption>
    <thead>
        <tr>
            <th class="subhead">Event</th>
            <th class="subhead">Type</th>
            <th class="subhead">#</th>
            <th class="subhead">Price Paid</th>
            <th class="subhead">Method</th>
            <th class="subhead">Comment</th>
        </tr>
    </thead><tbody>
        {% for m in memberships %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ m.event.name }}</td>
            <td class="center">
                {{ m.type.name }}
                {% if m.quantity > 1%}<strong>x {{ m.quantity }}</strong>{% endif %}
            </td>
            <td class="right">{{ m.badge_number|default:'&mdash;' }}</td>
            <td class="right">$ {{ m.price|floatformat:2 }}</td>
            <td class="right">{{ m.payment_method }}</td>
            <td class="right">{{ m.comment }}</td>
        </tr>
        {% empty %}
            <tr><td colspan="6"><strong>None</strong></td></tr>
        {% endfor %}
    </tbody>
</table>

<table id="available_memberships">
    <caption>Available Memberships (Click to add to cart.)</caption>
    <thead>
        <tr>
            <th>Event</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead><tbody>
        {% for t in available_types %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="left">{{ t.event.name }}</td>
                <td class="left">
                    {% if t.in_quantity %}
                        {{t.name}}
                        <a href="{% url reg.views.cart_add person.pk, t.pk, 1 %}">Add 1</a>
                        <a href="{% url reg.views.cart_add person.pk, t.pk, 5 %}">Add 5</a>
                        <a href="{% url reg.views.cart_add person.pk, t.pk, 10 %}">Add 10</a>
                    {% else %}
                        <a href="{% url reg.views.cart_add person.pk, t.pk %}">{{t.name}}</a>
                    {% endif %}
                </td>
                <td class="right">$ {{t.price|floatformat:2}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>


{% endblock %}
