{% extends 'base.html' %}
{% block title %}
    Member List
    {% if event %} &mdash {{ event }} {%endif%}
{% endblock %}

{% block content %}
<table id="member-list">
    <caption>Member List</caption>
    <thead>
        <tr>
            <th style="width: 200px;">Legal Name</th>
            <th style="width: 200px;">Con Name</th>
            <th style="width: 400px;">
                {% if is_public %}
                    Country
                {% else %}
                    City, State
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for o in people %}
        <tr class={% cycle 'odd', 'even' %}>
            <td>
                {% if is_public %}
                    {{ o.name }}
                {% else %}
                    <a href="{% url reg.views.member_view id=o.pk %}">
                        {{ o.name }}
                    </a>
                {% endif %}
            </td>
            <td>{{ o.con_name }}</td>
            {% if is_public %}
                <td>{{ o.country }}</td>
            {% else %}
                <td>{{ o.city }}, {{ o.state }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="3">Total: {{people|length}}</td></tr>
    </tfoot>
</table>
{% endblock %}

{% block right %}
{% if payment_form and not is_public %}
    {% include 'reg_cart.html' %}
    <br><br>
    {% include 'reg_checkout_form.html' %}
{% endif %}
{% endblock %}
