{% extends 'base.html' %}
{% block title %}Member Report{% endblock %}

{% block content %}
<table id="member-list">
    <thead>
        <tr>
            <th style="width: 200px;">Legal Name</th>
            <th style="width: 200px;">Con Name</th>
            <th style="width: 400px;">City, State</th>
        </tr>
    </thead>
    <tbody>
        {% for o in people %}
        <tr class={{ loop.cycle('odd', 'even') }}>
            <td>
                <a href="{% url reg.views.person_view id=o.pk %}">
                    {{ o.name }}
                </a>
            </td>
            <td>{{ o.con_name }}</td>
            <td>{{ o.city }}, {{ o.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: {{ people|length }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}