# extends 'base.html'
# set title = "Detail: " + member.name

# block right
<form method="post" action="{{ lib.url('convention.reg.views.membership_add') }}">
<table style="width: 100%;" id="add_a_memberships">
    <thead>
        <tr><th colspan="2">Add a Membership</th></tr>
    </thead><tbody>
        {{ reg_form.as_table() }}
        <tr><td colspan="2"><input type="submit" value="Add"></td></tr>
    </tbody>
</table>
<input type="hidden" name="member_id" value="{{member.pk}}">
</form>

<table style="width: 100%;" id="available_memberships">
    <thead>
        <tr><th colspan="3">Available Memberships</th></tr>
    </thead><tbody>
        # for m in types
            # if m not in current_events
            <tr>
                <th style="text-align: left; width: 50%;">{{m.event.name}}</th>
                <td style="text-align: center; width: 25%;">{{m.name}}</td>
                <td style="text-align: right; width: 25%;">${{m.price}}</td>
            </tr>
            # endif
        # endfor
    </tbody>
</table>

<table style="width: 100%;" id="current_memberships">
    <thead>
        <tr><th colspan="3">Paid Memberships</th></tr>
    </thead><tbody>
        # for m in memberships
        <tr class={{ loop.cycle('odd', 'even') }}>
            <th style="text-align: left; width: 50%;">{{ m.type.event }}</th>
            <td style="text-align: center; width: 25%;">{{ m.type.name }}</td>
            <td style="text-align: right; width: 25%;">{{ m.badge_number|default('&mdash;', True) }}</td>
        </tr>
        # endfor
        # if memberships.count() == 0
        <tr><td colspan="3" style="text-align: center;">None</td></tr>
        # endif
    </tbody>
</table>
# endblock

# block content
<form action="{{ lib.url('convention.reg.views.member_view', member.pk) }}" method="post">
# include 'reg_member_form.html'
</form>
# endblock