{# This is used in the self-serve UI as well as the desk UI #}

{% if is_selfserve %}
<form method="post" action="{% url reg.views.selfserve_add_email %}">
{% endif %}
<table style="width: 100%;" id="cart">
    <caption>Cart</caption>
    <thead>
        <tr>
            <th class="subhead">Person</th>
            <th class="subhead">Type</th>
            <th class="subhead">Price</th>
            <th class="subhead">Action</th>
        </tr>
    </thead><tbody>
        {% set row_class = cycler('odd', 'even') %}


        {% if request.session.cart_quantity == 0 %}
        <tr><td colspan="4"><strong>Cart is empty. Buy something!</strong></td></tr>
        {% endif %}
        {% for p in cart %}
            {% for t in cart[p] %}
            {% set qty = cart[p][t] %}
            {% if qty %}
            <tr class={{ row_class.next() }}>
                <td class="left">
                    {%- if is_selfserve %} {{p.email}} {% else %} {{p.name}} {% endif -%}
                </td>
                <td class="center">{{t.event.name}}: {{t.name}}
                    {% if qty > 1 %} x {{qty}}{% endif %}
                </td>
                <td class="right">${{t.price * qty}}</td>
                <td>
                    <a class="button"
                    {%- if is_selfserve -%}
                       href="{% url reg.views.selfserve_remove p.email,t.pk %}"
                    {% else %}
                        href="{% url reg.views.cart_remove p.pk,t.pk %}"
                    {% endif %}
                    >
                        <span class="delete">Remove</span></a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endfor %}
        {% if is_selfserve %}
            <tr>
                {% csrf_token %}
                <td colspan="3"><input type="text" name="email" id="id_email"/></td>
                <td><a class="button submitlink" href="#"><span class="add">Add</span></a></td>
            </tr>
        {% endif %}

    </tbody>

    <tfoot>
        <tr>
            <th>Total</th>
            <td colspan="3" class="right">{{ session.cart_total|default('0.00', true) }}</td>
        </tr>
    </tfoot>
</table>
{% if is_selfserve %}
</form>
{% endif %}