<table id="member_form">
    <caption>Add/Edit Member</caption>
    <COL width="auto"><COL width="200px">
    <COL width="auto"><COL width="200px">
    <COL width="auto"><COL width="200px">
    <tbody>
        <tr>
            <th>Name</th>
            <td id="name" colspan="3">
                {{ form.name|safe }}
                <span class="errors">{{ form.name.errors|safe }}</span>
            </td>
            <th>Badge Name</th>
            <td>
                {{ form.con_name|safe }}
                <span class="errors">{{ form.con_name.errors|safe }}</span>
            </td>
        </tr><tr>
            <th>Email Address</th>
            <td>
                {{ form.email|safe }}
                <span class="errors">{{ form.email.errors|safe }}</span>
            </td>
            <th>Affiliation</th>
            <td>
                {{ form.affiliation|safe }}
                <span class="errors">{{ form.affiliation.errors|safe }}</span>
            </td>
            <th>Publish?</th>
            <td>
                {{ form.public|safe }} {{ form.public.help_text }}
                <span class="errors">{{ form.public.errors|safe }}</span>
            </td>
        </tr><tr>
            <th>Address</th>
            <td colspan="5">
                {{ form.address|safe }}
                <span class="errors">{{ form.address.errors|safe }}</span>
            </td>
        </tr><tr>
            <th>City</th>
            <td>
                {{ form.city|safe }}
                <span class="errors">{{ form.city.errors|safe }}</span>
            </td>
            <th>State</th>
            <td>
                {{ form.state|safe }}
                <span class="errors">{{ form.state.errors|safe }}</span>
            </td>
            <th>Country</th>
            <td>
                {{ form.country|safe }}
                <span class="errors">{{ form.country.errors|safe }}</span>
            </td>
        </tr><tr>
            <th>Zip</th>
            <td>
                {{ form.zip|safe }}
                <span class="errors">{{ form.zip.errors|safe }}</span>
            </td>
            <th>Phone</th>
            <td>
                {{ form.phone|safe }}
                <span class="errors">{{ form.phone.errors|safe }}</span>
            </td>
            <th>Birth Date</th>
            <td>
                {{ form.birth_date|safe }} {{ form.birth_date.help_text }}
                <span class="errors">{{ form.birth_date.errors|safe }}</span>
            </td>
        </tr>
    </tbody><tfoot>
        <tr>
            <td colspan="6"><input type="submit" value="Update Info"></td>
        </tr>
    </tfoot>
</table>
