<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Convention: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen"
            href="{{STATIC_URL}}/css/elastic.css" />
        <link rel="stylesheet" type="text/css" media="screen"
            href="{{STATIC_URL}}/css/main.css" />
        <link rel="stylesheet" type="text/css" media="print"
            href="{{STATIC_URL}}/css/elastic.print.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/sprite.css" />
        <script src="{{STATIC_URL}}/js/jquery.js" type="text/javascript"
            language="javascript" charset="utf-8"></script>
        <script src="{{STATIC_URL}}/js/elastic.js" type="text/javascript"
            language="javascript" charset="utf-8"></script>
        <script type="application/x-javascript">
            $(document).ready(function(){
                $(".submitlink").bind('click', function() {
                    $(this).closest("form").trigger("submit");
                });
            });
        </script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="columns" style="padding:20px;">
	    <div class="container" >
		<div class="fixed column" style="width:200px;">
                    <div class="container" >
                        {% block navbar %}
                        {% include "navbar.html" %}
                        {% endblock %}
                    </div>
                </div>
                <div class="elastic column">
                    <div class="container" >
                        {% if messages %}
                            {% for message in messages %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {% block content %} {% endblock %}
                    </div>
                </div>
		<div class="fixed column" style="width:320px;">
                    <div class="container" >
                        {% block right %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
