<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/elastic.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" media="print" href="/static/css/elastic.print.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/sprite.css" />
        <script src="/static/js/jquery.js" type="text/javascript" language="javascript" charset="utf-8"></script>
        <script src="/static/js/elastic.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="columns" style="padding:20px;">
	    <div class="container" >
		<div class="fixed column" style="width:200px;">
                    <div class="container" >
                        {% block navbar %}
                        {% include "navbar.html" %}
                        {% endblock %}
                    </div>
                </div>
                <div class="elastic column">
                    <div class="container" >
                    {% block content %} {% endblock %}
                    </div>
                </div>
		<div class="fixed column" style="width:270px;">
                    <div class="container" >
                        {% block right %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
