<ul id="navbar">
    <li>Registration
        <ul>
            <li><a href="{% url reg.views.index %}">Main</a></li>
            <li><a href="{% url reg.views.member_list %}">List People</a></li>
            <li><a href="{% url reg.views.member_add %}">Add Person</a></li>
            <li><a href="{% url reg.views.print_pending %}">Pending badges</a></li>
        </ul>
    </li>
    <li>Reports
        <ul>
            <li><a href="/reg/report/members/public/">Members (Public)</a></li>
            {% for e in events %}
                <li><a href="/reg/report/members/all/{{e.slug}}/">{{e.name}}</a></li>
                <li><a href="/reg/report/members/public/{{e.slug}}/">{{e.name}} (Public)</a></li>
                <li><a href="/reg/report/members/approvals/{{e.slug}}/">{{e.name}} (Approvals)</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>Self Service
        <ul>
            <li><a href="{% url reg.views.selfserve_index %}">Main</a></li>
        </ul>
    </li>

{% if user.is_authenticated %}
    <li>Logged in as: <strong>{{ user.username }}</strong>
    <ul>
    {% if user.is_staff %}
        <li><a href="/admin/">Admin</a></li>
    {% endif %}
        <li><a href="/accounts/logout/">Logout</a></li>
    </ul>
    </li>
{% else %}
    <li><a href="/accounts/login/">Login</a></li>
{% endif %}
</ul>
